<!DOCTYPE html>
<html lang="kr">

{{ > include/header }}

<body>

<div class="d-flex" id="wrapper">
    {{> include/sidebar }}

    <div id="page-content-wrapper">
        {{> include/navbar }}
        <div class="container">
            <form class="container mt-3" style="max-width: 500px" method="post" action="/join">
                <label>아이디</label>
                <input class="form-control" name="accountId" placeholder="아이디를 입력해주세요">
                <label>패스워드</label>
                <input class="form-control" name="password" placeholder="비밀번호를 입력해주세요">
                <label>이름</label>
                <input class="form-control" name="name" placeholder="이름을 입력해주세요">
                <label>이메일</label>
                <input class="form-control" name="email" type="email" placeholder="이메일을 입력해주세요">
                <button class="btn btn-primary float-right mt-2" type="submit">완료</button>
            </form>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

{{> include/footer }}
</body>

</html>
