<!DOCTYPE html>
<html lang="kr">

{{ > include/header }}

<body>

<div class="d-flex" id="wrapper">
    {{> include/sidebar }}

    <div id="page-content-wrapper">
        {{> include/navbar }}
        <div class="container-fluid">
            <div class="container">
                {{#origin}}
                <form method="post" action="/answer/update/{{question.id}}/{{id}}">
                    <input type="hidden" name="_method" value="PUT">
                    <h3 class="mb-3">댓글 수정</h3>

                    <div class="form-group">
                        <label>댓글 내용</label>
                        <textarea class="form-control" rows="5" name="answer" placeholder={{answer}}></textarea>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">수정</button>
                        <a href="/board/{{id}}">
                            <button class="btn btn-primary" type="button">취소</button>
                        </a>
                    </div>
                    {{/origin}}
                </form>
            </div>

        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

{{> include/footer }}
</body>

</html>
